@using Microsoft.AspNetCore.Components.Web
@using Web.Contracts;
@page "/on-init"
@inject Web.Ui.Services.ProcessService processService;

<h3>Process List</h3>

@if (processes.Any())
{
    <table class="table table-sm table-striped">
        <thead class="thead-light ">
            <tr>
                <th>Process Id</th>
                <th>Created</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var process in processes)
            {
            <tr>
                <td>@process.ProcessId</td>
                <td>@process.Created</td>
                <td>@process.Status</td>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    IEnumerable<ProcessModel> processes = new List<ProcessModel>();

    protected override async Task OnInitializedAsync()
    {
        processes = await processService.GetProcessesAsync();
    }
}
